@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul style="margin-left:auto; margin-right:auto; width:700px;">

    <li class="list">
        <a href="/Issue/Index"><div class="block">Выдача сведений</div></a>
    </li>
    <li class="list">
        <a href="/Update/Index"><div class="block">Cредства ввода и обновления всех данных</div></a>
    </li>
</ul>