@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul style="margin-left:auto; margin-right:auto; width:700px;">

    <li class="list">
        <a href="#"><div class="lol">Выдача сведений</div></a>
    </li>
    <li class="list">
        <a href="#"><div class="lol">Cредства ввода и обновления всех данных</div></a>
    </li>
</ul>