
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center;">Cредства ввода и обновления данных</h1>
<ul style="margin-left:auto; margin-right:auto; width:700px;">
    <li class="list">
        <a href="/Update/Update">
            <div class="block">
                <img src="~/Content/img/upd.png" title="Обновление" class="img" />
                <div>Обновление данных</div>
            </div>
        </a>
    </li>
    <li class="list">
        <a href="/Update/Update">
            <div class="block">
                <img src="~/Content/img/enter.png" title="Ввод данных" class="img" />
                <div>Ввод данных</div>
            </div>
        </a>
    </li>
</ul>
