
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul style="margin-left:auto; margin-right:auto; width:700px;">

    <li class="list">
        <a href="#">
            <div class="block">
                <img src="~/Content/img/otdel.png" />
                <div>Сведения об отделах</div>
            </div>
        </a>
    </li>
    <li class="list">
        <a href="#">
        <div class="block">
            <img src="~/Content/img/emloye.png" />
            <div>Сведения о сотрудниках</div>
            </div>
        </a>
    </li>
    <li class="list">
        <a href="#">
        <div class="block">
            <img src="~/Content/img/box.png" />
            <div>Сведения о товарах</div>
        </div>
        </a>
    </li>
    <li class="list">
        <a href="#">
        <div class="block">
            <img src="~/Content/img/sale.png" />
            <div>Сведения о продажах</div>
        </div>
        </a>
    </li>
</ul>

