
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul style="margin-left:auto; margin-right:auto; width:700px;">

    <li class="list">
        <a href="#"><div class="block">Сведения об отделах</div></a>
    </li>
    <li class="list">
        <a href="#"><div class="block">Сведения о сотрудниках</div></a>
    </li>
    <li class="list">
        <a href="#"><div class="block">Сведения о товарах</div></a>
    </li>
    <li class="list">
        <a href="#"><div class="block">Сведения о продажах</div></a>
    </li>
</ul>

