<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/Style.css" rel="stylesheet">
    <title>Market</title>
</head>
<body>
    <a href="/Home/Index">
        <img src="~/Content/img/home.png" style="position:absolute;" />
    </a>
    <div style="margin-left:auto; margin-right:auto; width:700px;">
        @RenderBody()
    </div>
</body>
</html>
